/* Overarching stylistic CSS */
a, p {
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: #585858;
    text-decoration: none;
    /* border: 1px solid blue; */
}

.nav {
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: #585858;
    /* letter-spacing: 0.01em; */
}

header {
    background-color: aliceblue;
}

footer {
    background-color: antiquewhite;
}

main {
    background-color: lightgreen;
}

.logo {
    background-color: bisque;
}

/* Structural CSS */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 900px;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
}

.nav-line-top, .nav-line-bot {
    flex-direction: row;
    justify-content: space-between;
}

.nav-line-top {
    display: flex;
    padding: 25px 20px;
}

.country-line, .nav-line-bot {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-top: 1px solid #ffffff34;
    background-color: #ffffffa9;
    height: 40px;
}

/* .nav {
    border: 1px solid purple;
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 150px;
}

.logo {
    display: flex;
    flex-direction: row;
}

#share-icon {
    align-self: flex-start;
}